


/connect.php
/config.inc.php
/index1.html
/portfolio-details.html
/inner-page.html
/index_0.php
/login_0.php



/assets/*
/forms/*
/image/*
/class/*
/lib/*
/javascripts/*
/stylesheets/*
/images/*
/admin/ckeditor/*
/admin2/*
/unit/images/*
